@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


a{
    text-decoration: none;
}
*{
    margin: 0%;
    padding: 0%;
}

/* ===========Navbar============= */
#upper{
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 2px 2px 10px black;
    /* z-index: 80; */

}
#right{
    display: inline-block;
    position: absolute;
    right: 10px;
}
.logo{
    width: 50px;

}
#left{
    margin-left: 40px;
    display: inline-block;
}

#navbar{
    position: absolute;
    margin-left: 20px;
    top: 10px;
    display: inline-block;
}
#navbar ul li{
    display: inline-block;
}
#navbar li a{
    font-family: 'Orbitron', sans-serif;
    margin-left: 20px;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    transition: .3s ease-in-out;
}
#navbar ul li a:hover{
    color: red;
}


/* ===========Main Content============ */
#main{
    padding: 20px;
    display: inline-flex;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .7);
    width: 1160px;
    display: block;
    margin: 30px 10px;
}
/* #aboutnaruto{

} */
.series_pic{
    margin: auto 5px;
    width: 350px;
    border-radius: 5px;
    margin-right: 40px;
    display: inline-block;
}
#img{
    display: inline;
}
#about{
    display: inline-block;
    position: absolute;
}
.name{
    color: white;
    font-family: 'Orbitron', sans-serif;
}
.aboutseries{
    color: white;
    width: 700px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
}
.walking_naruto{
    position: absolute;
    bottom: -180px;
    right: -90px;
    display: block;
}


/* ==============Side Content============== */
#sidemain{
    width: 290px;
    background-color: rgba(0, 0, 0, .7);
    display: inline-flex;
    position: absolute; 
    right: 10px; 
    top: 85px;
    color: white;
    border-radius: 10px;
    height: 420px;
}
.sidehead{
    font-family: 'Orbitron', sans-serif;
    color: white;
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
}
#characters{
    position: absolute;
    height: 110px;
    width: 90%;
    right: 0px;
    left: 0px;
    display: block;
    padding: 10px;
    margin: 40px auto;
}
.chars{
    border-radius: 50%;
    width: 105px;
    height: 105px;
    margin-top: auto;
    margin-left: 40px;
    border: 1.5px solid white;
    cursor: pointer;
}
#beasts{
    position: absolute;
    height: 110px;
    width: 90%;
    right: 0px;
    left: 0px;
    display: block;
    padding: 10px;
    margin: 230px auto;

}
.beasts{
    border-radius: 50%;
    width: 105px;
    height: 105px;
    margin-top: auto;
    margin-left: 40px;
    border: 1.5px solid white;
    cursor: pointer;
}
.tailed{
    font-family: 'Orbitron', sans-serif;
    color: white;
    display: block;
    margin-top: 200px;
    position: absolute;
    margin-left: 10px;
}
.moreabout_series{
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border: 1px solid red;
    display: inline-block;
    width: 50px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    display: none;
    transition: .3s ease-in-out;
}
.moreabout_series:hover{
    color: black;
    background-color: white;
    border: 2px solid red;
    transform: scale(1.1);

}
/* PC/LAPTOP Resolution End */

